{% extends "base.html.twig" %}

{% block title %}
    Bienvenu sur HomeSun !
{% endblock %}


{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienbenue sur Homesun</h1>
        <p class="lead">Nous mettons en relation les vaccanciers et les propriétaire de villa d'exeptions pour des vacances ou des week-end innoubliables !</p>
        <hr class="my-4">
        <p>Vous souhaitez un endroit d'exeption pour vos prochaines vaccances ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Vois nos annonces </a>
        </p>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos villas stars</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <img src="http://placehold.it/1000x500" alt="Image de la villa" style="height: 200px; with: 100px; display : block">
                <div class="card-header text-center">
                    4 chambre, <strong>100&euro; / jour</strong> <br>
                    <small>Pas encore noté</small>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        Villa exeptionnel !
                    </h4>
                    <p class="cart-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat saepe neque quod eos suscipit nemo nesciunt ducimus minima architecto error!
                    </p>
                    <a href="#" class="btn btn-primary">En savoir plus !</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <img src="http://placehold.it/1000x500" alt="Image de la villa" style="height: 200px; with: 100px; display : block">
                <div class="card-header text-center">
                    4 chambre, <strong>100&euro; / jour</strong> <br>
                    <small>Pas encore noté</small>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        Villa exeptionnel !
                    </h4>
                    <p class="cart-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat saepe neque quod eos suscipit nemo nesciunt ducimus minima architecto error!
                    </p>
                    <a href="#" class="btn btn-primary">En savoir plus !</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <img src="http://placehold.it/1000x500" alt="Image de la villa" style="height: 200px; with: 100px; display : block">
                <div class="card-header text-center">
                    4 chambre, <strong>100&euro; / jour</strong> <br>
                    <small>Pas encore noté</small>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        Villa exeptionnel !
                    </h4>
                    <p class="cart-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat saepe neque quod eos suscipit nemo nesciunt ducimus minima architecto error!
                    </p>
                    <a href="#" class="btn btn-primary">En savoir plus !</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos propriétaires stars !</h2>

    <div class="row">
        <div class="col">
            <div class="card-border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Manda Lyo</h4>

                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar Mande Lyo" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, praesentium.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus !</a>
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card-border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Manda Lyo</h4>

                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar Mande Lyo" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, praesentium.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}